	<body>
	<!--
	Loader Widget to inform users of page loads jQuery Mobile Docs
	-->
	<!-- Homepage -->
	<div data-role="page" id="home">
		<div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a">
			<a href="#my-header" data-rel="close" data-role="button" data-theme="a" class="addBuffer" data-icon="delete">Close</a>
			<ul data-role="listview">
				<li>
					<a href="#home" class="ui-disabled">Home</a>
				</li>
				<li>
					<a href="#list">List</a>
				</li>
				<li>
					<a href="#map">Map</a>
				</li>
			</ul>
		</div>
		
		<div data-role="header" data-position="fixed">
			<a href="#mypanel" data-icon="grid" data-mini="true">Navigation</a>
			<h1>London Attraction App</h1>
		</div>
	
		<div data-role="content">
			<a href="#list" data-role="button">
				<h3>List Of All Attractions</h3>
				<p> Check out all othe the Attractions in the wonderful city of london </p>
			</a>
			<a href="#map" data-role="button">
				<h3>View All Attractions On Map</h3>
				<p> Exploring London? Why not use our map to help you find the best Attractions! </p>
			</a>
		</div>
		<div data-role="footer" data-id="footerConstant" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li>
						<a href="#" data-rel="back">Back</a>
					</li>
					<li>
						<a href="#home">Home</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--  /Homepage  -->

	<!-- Attraction List Page -->
	<div data-role="page" id="list">
		<div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a">
			<a href="#my-header" data-rel="close" data-role="button" data-theme="a" class="addBuffer" data-icon="delete">Close</a>
			<ul data-role="listview">
			<li>
			<a href="#home">Home</a>
			</li>
			<li>
			<a href="#list" class="ui-disabled">List</a>
			</li>
			<li>
			<a href="#map">Map</a>
			</li>
			</ul>
			</div>
			<div data-role="header" data-position="fixed">
			<a href="#mypanel" data-icon="grid" data-mini="true">Navigation</a>
			<h1>London Attraction App</h1>
			</div>
			<div data-role="content">
			<div data-role="navbar" data-id="searchConstant">
			<ul style="margin:15px;">
			<li>
			<a href="#family" data-role="button">Family</a>
			</li>
			<li>
			<a href="#shopping" data-role="button">Shopping</a>
			</li>
			<li>
			<a href="#list" data-role="button" class="ui-disabled">All</a>
			</li>
			</ul>
			</div>
				<ul data-role="listview" data-filter="true">
				<xsl:for-each select="Attraction_Data/Attraction">
					<li>
						<a data-rel="dialog">
					<xsl:attribute name="href">
					<xsl:value-of select="Id_Link"/>
					</xsl:attribute>
					<img style="width:200px;height: 200px;">
				<xsl:attribute name="src">
				<xsl:value-of select="Picture"/>
				</xsl:attribute>
				</img>
				<h3>
				<xsl:value-of select="Attraction_Name"/>
				</h3>
				<p>
				<xsl:value-of select="Long_Description"/>
				</p>
				</a>
				</li>
				</xsl:for-each>
				</ul>
			</div>
		<div data-role="footer" data-id="footerConstant" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li>
						<a href="#" data-rel="back">Back</a>
					</li>
					<li>
						<a href="#home">Home</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Attraction List Page -->
	
	<!-- Attraction List Page Search: Shopping -->
	<div data-role="page" id="shopping">
	<div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a">
	<a href="#my-header" data-rel="close" data-role="button" data-theme="a" class="addBuffer" data-icon="delete">Close</a>
	<ul data-role="listview">
	<li>
	<a href="#home">Home</a>
	</li>
	<li>
	<a href="#list" class="ui-disabled">List</a>
	</li>
	<li>
	<a href="#map">Map</a>
	</li>
	</ul>
	</div>
	<div data-role="header" data-position="fixed">
	<a href="#mypanel" data-icon="grid" data-mini="true">Navigation</a>
	<h1>London Attraction App</h1>
	</div>
	<div data-role="content">
	<div data-role="navbar" data-id="searchConstant">
	<ul style="margin:15px;">
	<li>
	<a href="#family" data-role="button">Family</a>
	</li>
	<li>
	<a href="#shopping" data-role="button" class="ui-disabled">Shopping</a>
	</li>
	<li>
	<a href="#list" data-role="button">All</a>
	</li>
	</ul>
	</div>
	<ul data-role="listview" data-filter="true">
	<xsl:for-each select="Attraction_Data/Attraction[Category='Shopping']">
	<li>
	<a data-rel="dialog">
	<xsl:attribute name="href">
	<xsl:value-of select="Id_Link"/>
	</xsl:attribute>
	<img style="width:200px;height: 200px;">
	<xsl:attribute name="src">
	<xsl:value-of select="Picture"/>
	</xsl:attribute>
	</img>
	<h3>
	<xsl:value-of select="Attraction_Name"/>
	</h3>
	<p>
	<xsl:value-of select="Long_Description"/>
	</p>
	</a>
	</li>
	</xsl:for-each>
	</ul>
	</div>
	<div data-role="footer" data-id="footerConstant" data-position="fixed">
	<div data-role="navbar">
	<ul>
	<li>
	<a href="#" data-rel="back">Back</a>
	</li>
	<li>
	<a href="#home">Home</a>
	</li>
	</ul>
	</div>
	</div>
	</div>
	<!-- /Attraction List Page Search: Shopping -->
	
	<!-- Attraction List Page Search: Family -->
	<div data-role="page" id="family">
	<div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a">
	<a href="#my-header" data-rel="close" data-role="button" data-theme="a" class="addBuffer" data-icon="delete">Close</a>
	<ul data-role="listview">
	<li>
	<a href="#home">Home</a>
	</li>
	<li>
	<a href="#list" class="ui-disabled">List</a>
	</li>
	<li>
	<a href="#map">Map</a>
	</li>
	</ul>
	</div>
	<div data-role="header" data-position="fixed">
	<a href="#mypanel" data-icon="grid" data-mini="true">Navigation</a>
	<h1>London Attraction App</h1>
	</div>
	<div data-role="content">
	<div data-role="navbar" data-id="searchConstant">
	<ul style="margin:15px;">
	<li>
	<a href="#family" data-role="button" class="ui-disabled">Family</a>
	</li>
	<li>
	<a href="#shopping" data-role="button">Shopping</a>
	</li>
	<li>
	<a href="#list" data-role="button">All</a>
	</li>
	</ul>
	</div>
	<ul data-role="listview" data-filter="true">
	<xsl:for-each select="Attraction_Data/Attraction[Category='Family']">
	<li>
	<a data-rel="dialog">
	<xsl:attribute name="href">
	<xsl:value-of select="Id_Link"/>
	</xsl:attribute>
	<img style="width:200px;height: 200px;">
	<xsl:attribute name="src">
	<xsl:value-of select="Picture"/>
	</xsl:attribute>
	</img>
	<h3>
	<xsl:value-of select="Attraction_Name"/>
	</h3>
	<p>
	<xsl:value-of select="Long_Description"/>
	</p>
	</a>
	</li>
	</xsl:for-each>
	</ul>
	</div>
	<div data-role="footer" data-id="footerConstant" data-position="fixed">
	<div data-role="navbar">
	<ul>
	<li>
	<a href="#" data-rel="back">Back</a>
	</li>
	<li>
	<a href="#home">Home</a>
	</li>
	</ul>
	</div>
	</div>
	</div>
	<!-- /Attraction List Page Search: Family -->
	<!--  Attraction Map Page  -->
	<div data-role="page" id="map">
	<div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a">
	<a href="#my-header" data-rel="close" data-role="button" data-theme="a" class="addBuffer" data-icon="delete">Close</a>
	<ul data-role="listview">
	<li>
	<a href="#home">Home</a>
	</li>
	<li>
	<a href="#list">List</a>
	</li>
	<li>
	<a href="#map" class="ui-disabled">Map</a>
	</li>
	</ul>
	</div>
	<div data-role="header" data-position="fixed">
	<a href="#mypanel" data-icon="grid" data-mini="true">Navigation</a>
	<h1>London Attraction App</h1>
	</div>
	<div data-role="content" id="mapContent">
	<div id="map-canvas"/>
	<button id="LocationBtn">Where are you?</button>
	<div>
	<b>Go To:</b>
	<select id="goTo"></select>
	</div>
	</div>
	<div data-role="footer" data-id="footerConstant" data-position="fixed">
	<div data-role="navbar">
	<ul>
	<li>
	<a href="#" data-rel="back">Back</a>
	</li>
	<li>
	<a href="#home">Home</a>
	</li>
	</ul>
	</div>
	</div>
	</div>
	<!--  /Attraction Map Page  -->
	<!--  Generate Content Pages  -->
	<xsl:for-each select="Attraction_Data/Attraction">
	<div data-role="page" data-position="fixed">
	<xsl:attribute name="id">
	<xsl:value-of select="Id"/>
	</xsl:attribute>
	<div data-role="header" data-position="fixed">
	<h1>London Attraction App</h1>
	</div>
	<div data-role="content">
	<img style="width:200px;height: 200px;">
	<xsl:attribute name="src">
	<xsl:value-of select="Picture"/>
	</xsl:attribute>
	</img>
	<h3>Description</h3>
	<p>
	<xsl:value-of select="Long_Description"/>
	</p>
	<h3>Category</h3>
	<p>
	<xsl:value-of select="Category"/>
	</p>
	<div data-role="collapsible" data-content-theme="b">
	<h4>Attraction Address</h4>
	<p>
	<xsl:value-of select="Address/Address_Line_One"/>
	</p>
	<p>
	<xsl:value-of select="Address/Address_Line_Two"/>
	</p>
	<p>
	<xsl:value-of select="Address/Postcode"/>
	</p>
	</div>
	<div data-role="collapsible" data-content-theme="b">
	<h4>Tube Station</h4>
	<p>
	<xsl:value-of select="Tube_Station"/>
	</p>
	</div>
	<div data-role="collapsible" data-content-theme="b">
	<h3>Cost</h3>
	<ul>
	<p>
	Child
	<xsl:value-of select="Price/Child"/>
	</p>
	<p>
	Adult
	<xsl:value-of select="Price/Adult"/>
	</p>
	</ul>
	</div>
	<div data-role="collapsible" data-content-theme="b">
	<h4>Attraction Opening Times</h4>
	<p>
	Monday:
	<xsl:value-of select="Opening_Times/Monday"/>
	</p>
	<p>
	Tuesday:
	<xsl:value-of select="Opening_Times/Tuesday"/>
	</p>
	<p>
	Wednesday:
	<xsl:value-of select="Opening_Times/Wednesday"/>
	</p>
	<p>
	Thursday:
	<xsl:value-of select="Opening_Times/Thursday"/>
	</p>
	<p>
	Frday:
	<xsl:value-of select="Opening_Times/Friday"/>
	</p>
	<p>
	Saturday:
	<xsl:value-of select="Opening_Times/Saturday"/>
	</p>
	<p>
	Sunday:
	<xsl:value-of select="Opening_Times/Sunday"/>
	</p>
	</div>
	</div>
	<div data-role="footer" data-id="footerConstant" data-position="fixed">
	<div data-role="navbar">
	<ul>
	<li>
	<a href="#" data-rel="back">Back</a>
	</li>
	<li>
	<a href="#home">Home</a>
	</li>
	</ul>
	</div>
	</div>
	</div>
	</xsl:for-each>
	<!--  /Generate Content Pages  -->