<script>
	$( document ).bind( 'mobileinit', function(){
	  $.mobile.loader.prototype.options.text = "loading";
	  $.mobile.loader.prototype.options.textVisible = false;
	  $.mobile.loader.prototype.options.theme = "a";
	  $.mobile.loader.prototype.options.html = "";
	});
</script>
<div data-role="page" id="home">
	<div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a">
		<a href="#my-header" data-rel="close" data-role="button" data-theme="a" class="addBuffer" data-icon="delete">Close</a>
		<ul data-role="listview">
			<li><a href="#home" class="ui-disabled">Home</a></li>
			<li><a href="#list">List</a></li>
			<li><a href="#map">Map</a></li>
		</ul>
	</div>
	<div data-role="header" data-position="fixed">
		<a href="#mypanel" data-icon="grid" data-mini="true">Navigation</a><h1>London Attraction App</h1>
	</div>
	<div data-role="content">
		<a href="#list" data-role="button"><h3>List Of All Attractions</h3>
		<p>Check out all othe the Attractions in the wonderful city of london</p></a>
		<a href="#map" data-role="button"><h3>View All Attractions On Map</h3>
		<p>Exploring London? Why not use our map to help you find the best Attractions!</p></a>
	</div>
	<div data-role="footer" data-id="footerConstant" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="#" data-rel="back">Back</a></li>
				<li><a href="#home">Home</a></li>
			</ul>
		</div>
	</div>
</div>

<div data-role="page" id="list">
	<div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a">
		<a href="#my-header" data-rel="close" data-role="button" data-theme="a" class="addBuffer" data-icon="delete">Close</a>
			
		<ul data-role="listview">
			<li><a href="#home">Home</a></li>
			<li><a href="#list" class="ui-disabled">List</a></li>
			<li><a href="#map">Map</a></li>
		</ul>
	</div>
	<div data-role="header" data-position="fixed">
		<a href="#mypanel" data-icon="grid" data-mini="true">Navigation</a><h1>London Attraction App</h1>
	</div>
	<div data-role="content">
		<div data-role="navbar" data-id="searchConstant">
			<ul style="margin:15px;">
				<li><a href="#family" data-role="button">Family</a></li>
				<li><a href="#shopping" data-role="button">Shopping</a></li>
				<li><a href="#list" data-role="button" class="ui-disabled">All</a></li>
			</ul>
		</div>
		<ul data-role="listview" data-filter="true">
			<li><a data-rel="dialog" href="#londoneye"><img style="width:200px;height: 200px;" src="img/LondonEye.png"><h3>London Eye</h3>
			<p>The London Eye is a great experience the whole family can enjoy. Relax and let the wheel spin you around as you take in all of the sights</p></a></li>
		</ul>
	</div>
<div data-role="footer" data-id="footerConstant" data-position="fixed"><div data-role="navbar"><ul>
<li><a href="#" data-rel="back">Back</a></li>
<li><a href="#home">Home</a></li>
</ul></div></div>
</div>
<div data-role="page" id="shopping">
<div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a">
<a href="#my-header" data-rel="close" data-role="button" data-theme="a" class="addBuffer" data-icon="delete">Close</a><ul data-role="listview">
<li><a href="#home">Home</a></li>
<li><a href="#list" class="ui-disabled">List</a></li>
<li><a href="#map">Map</a></li>
</ul>
</div>
<div data-role="header" data-position="fixed">
<a href="#mypanel" data-icon="grid" data-mini="true">Navigation</a><h1>London Attraction App</h1>
</div>
<div data-role="content">
<div data-role="navbar" data-id="searchConstant"><ul style="margin:15px;">
<li><a href="#family" data-role="button">Family</a></li>
<li><a href="#shopping" data-role="button" class="ui-disabled">Shopping</a></li>
<li><a href="#list" data-role="button">All</a></li>
</ul></div>
<ul data-role="listview" data-filter="true"><li><a data-rel="dialog" href="#oxfordcircus"><img style="width:200px;height: 200px;" src="img/OxfordCircus.png"><h3>Oxford Circus</h3>
<p>Oxford Circus is known worldwide for its size and quality of stores it offers, From small boutiques to large megastores! Oxford Circus is a great day out for couple's but can be very busy on Saturdays.</p></a></li></ul>
</div>
<div data-role="footer" data-id="footerConstant" data-position="fixed"><div data-role="navbar"><ul>
<li><a href="#" data-rel="back">Back</a></li>
<li><a href="#home">Home</a></li>
</ul></div></div>
</div>
<div data-role="page" id="family">
<div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a">
<a href="#my-header" data-rel="close" data-role="button" data-theme="a" class="addBuffer" data-icon="delete">Close</a><ul data-role="listview">
<li><a href="#home">Home</a></li>
<li><a href="#list" class="ui-disabled">List</a></li>
<li><a href="#map">Map</a></li>
</ul>
</div>
<div data-role="header" data-position="fixed">
<a href="#mypanel" data-icon="grid" data-mini="true">Navigation</a><h1>London Attraction App</h1>
</div>
<div data-role="content">
<div data-role="navbar" data-id="searchConstant"><ul style="margin:15px;">
<li><a href="#family" data-role="button" class="ui-disabled">Family</a></li>
<li><a href="#shopping" data-role="button">Shopping</a></li>
<li><a href="#list" data-role="button">All</a></li>
</ul></div>
<ul data-role="listview" data-filter="true">
<li><a data-rel="dialog" href="#londoneye"><img style="width:200px;height: 200px;" src="img/LondonEye.png"><h3>London Eye</h3>
<p>The London Eye is a great experience the whole family can enjoy. Relax and let the wheel spin you around as you take in all of the sights</p></a></li>
<li><a data-rel="dialog" href="#bigben"><img style="width:200px;height: 200px;" src="img/BigBen.png"><h3>Big Ben</h3>
<p>Big Ben is a great attraction and is the biggest Clock in England. Enjoy your trip to see the wonder that is Big Ben and your right next to the Houses of Parliament, which is another interesting site.</p></a></li>
<li><a data-rel="dialog" href="#towerbridge"><img style="width:200px;height: 200px;" src="img/TowerBridge.png"><h3>Tower Bridge</h3>
<p>Beautiful attraction take in traditional british sites such as the beefeater, the tower guards. Top tip the man on the bridge makes amazing hot nuts mmmmmm sugar....</p></a></li>
<li><a data-rel="dialog" href="#imperialwarmuseum"><img style="width:200px;height: 200px;" src="img/ImperialWarMuseum.png"><h3>Imperial War Museum</h3>
<p>It might not be the largest museum in the capital but the Imperial War Museum does'nt dissapoint! The museum is stretched over 4 floors each floor offers unique experiance's form the first and 2nd world war. The museums exibits are constantly changing so no two visits are the same!</p></a></li>
</ul>
</div>
<div data-role="footer" data-id="footerConstant" data-position="fixed"><div data-role="navbar"><ul>
<li><a href="#" data-rel="back">Back</a></li>
<li><a href="#home">Home</a></li>
</ul></div></div>
</div>
<div data-role="page" id="map">
<div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a">
<a href="#my-header" data-rel="close" data-role="button" data-theme="a" class="addBuffer" data-icon="delete">Close</a><ul data-role="listview">
<li><a href="#home">Home</a></li>
<li><a href="#list">List</a></li>
<li><a href="#map" class="ui-disabled">Map</a></li>
</ul>
</div>
<div data-role="header" data-position="fixed">
<a href="#mypanel" data-icon="grid" data-mini="true">Navigation</a><h1>London Attraction App</h1>
</div>
<div data-role="content" id="mapContent">
<div id="map-canvas"></div>
<button id="LocationBtn">Where are you?</button><div>
<b>Go To:</b><select id="goTo"></select>
</div>
</div>
<div data-role="footer" data-id="footerConstant" data-position="fixed"><div data-role="navbar"><ul>
<li><a href="#" data-rel="back">Back</a></li>
<li><a href="#home">Home</a></li>
</ul></div></div>
</div>
<div data-role="page" data-position="fixed" id="londoneye">
<div data-role="header" data-position="fixed"><h1>London Attraction App</h1></div>
<div data-role="content">
<img style="width:200px;height: 200px;" src="img/LondonEye.png"><h3>Description</h3>
<p>The London Eye is a great experience the whole family can enjoy. Relax and let the wheel spin you around as you take in all of the sights</p>
<h3>Category</h3>
<p>Family</p>
<div data-role="collapsible" data-content-theme="b">
<h4>Attraction Address</h4>
<p>EDF London Eye</p>
<p>London</p>
<p>SE17PB</p>
</div>
<div data-role="collapsible" data-content-theme="b">
<h4>Tube Station</h4>
<p>Waterloo</p>
</div>
<div data-role="collapsible" data-content-theme="b">
<h3>Cost</h3>
<ul>
<p>Child 12.30</p>
<p>Adult 19.20</p>
</ul>
</div>
<div data-role="collapsible" data-content-theme="b">
<h4>Attraction Opening Times</h4>
<p>Monday: 10:00 - 21:00</p>
<p>Tuesday: 10:00 - 21:00</p>
<p>Wednesday: 10:00 - 21:00</p>
<p>Thursday: 10:00 - 21:00</p>
<p>Frday: 10:00 - 21:00</p>
<p>Saturday: 10:00 - 21:00</p>
<p>Sunday: 10:00 - 20:00</p>
</div>
</div>
<div data-role="footer" data-id="footerConstant" data-position="fixed"><div data-role="navbar"><ul>
<li><a href="#" data-rel="back">Back</a></li>
<li><a href="#home">Home</a></li>
</ul></div></div>
</div>
<div data-role="page" data-position="fixed" id="bigben">
<div data-role="header" data-position="fixed"><h1>London Attraction App</h1></div>
<div data-role="content">
<img style="width:200px;height: 200px;" src="img/BigBen.png"><h3>Description</h3>
<p>Big Ben is a great attraction and is the biggest Clock in England. Enjoy your trip to see the wonder that is Big Ben and your right next to the Houses of Parliament, which is another interesting site.</p>
<h3>Category</h3>
<p>Family</p>
<div data-role="collapsible" data-content-theme="b">
<h4>Attraction Address</h4>
<p>Bridge Street</p>
<p>London</p>
<p>SW1A0AA</p>
</div>
<div data-role="collapsible" data-content-theme="b">
<h4>Tube Station</h4>
<p>Westminister</p>
</div>
<div data-role="collapsible" data-content-theme="b">
<h3>Cost</h3>
<ul>
<p>Child Free</p>
<p>Adult Free</p>
</ul>
</div>
<div data-role="collapsible" data-content-theme="b">
<h4>Attraction Opening Times</h4>
<p>Monday: 00:00 - 24:00</p>
<p>Tuesday: 00:00 - 24:00</p>
<p>Wednesday: 00:00 - 24:00</p>
<p>Thursday: 00:00 - 24:00</p>
<p>Frday: 00:00 - 24:00</p>
<p>Saturday: 00:00 - 24:00</p>
<p>Sunday: 00:00 - 24:00</p>
</div>
</div>
<div data-role="footer" data-id="footerConstant" data-position="fixed"><div data-role="navbar"><ul>
<li><a href="#" data-rel="back">Back</a></li>
<li><a href="#home">Home</a></li>
</ul></div></div>
</div>
<div data-role="page" data-position="fixed" id="towerbridge">
<div data-role="header" data-position="fixed"><h1>London Attraction App</h1></div>
<div data-role="content">
<img style="width:200px;height: 200px;" src="img/TowerBridge.png"><h3>Description</h3>
<p>Beautiful attraction take in traditional british sites such as the beefeater, the tower guards. Top tip the man on the bridge makes amazing hot nuts mmmmmm sugar....</p>
<h3>Category</h3>
<p>Family</p>
<div data-role="collapsible" data-content-theme="b">
<h4>Attraction Address</h4>
<p>Tower Bridge</p>
<p>London</p>
<p>SE12AA</p>
</div>
<div data-role="collapsible" data-content-theme="b">
<h4>Tube Station</h4>
<p>Tower Bridge</p>
</div>
<div data-role="collapsible" data-content-theme="b">
<h3>Cost</h3>
<ul>
<p>Child Free</p>
<p>Adult Free</p>
</ul>
</div>
<div data-role="collapsible" data-content-theme="b">
<h4>Attraction Opening Times</h4>
<p>Monday: 00:00 - 24:00</p>
<p>Tuesday: 00:00 - 24:00</p>
<p>Wednesday: 00:00 - 24:00</p>
<p>Thursday: 00:00 - 24:00</p>
<p>Frday: 00:00 - 24:00</p>
<p>Saturday: 00:00 - 24:00</p>
<p>Sunday: 00:00 - 24:00</p>
</div>
</div>
<div data-role="footer" data-id="footerConstant" data-position="fixed"><div data-role="navbar"><ul>
<li><a href="#" data-rel="back">Back</a></li>
<li><a href="#home">Home</a></li>
</ul></div></div>
</div>
<div data-role="page" data-position="fixed" id="imperialwarmuseum">
<div data-role="header" data-position="fixed"><h1>London Attraction App</h1></div>
<div data-role="content">
<img style="width:200px;height: 200px;" src="img/ImperialWarMuseum.png"><h3>Description</h3>
<p>It might not be the largest museum in the capital but the Imperial War Museum does'nt dissapoint! The museum is stretched over 4 floors each floor offers unique experiance's form the first and 2nd world war. The museums exibits are constantly changing so no two visits are the same!</p>
<h3>Category</h3>
<p>Family</p>
<div data-role="collapsible" data-content-theme="b">
<h4>Attraction Address</h4>
<p>Lambeth Rd</p>
<p>London</p>
<p>SE16HZ</p>
</div>
<div data-role="collapsible" data-content-theme="b">
<h4>Tube Station</h4>
<p>Waterloo</p>
</div>
<div data-role="collapsible" data-content-theme="b">
<h3>Cost</h3>
<ul>
<p>Child Free</p>
<p>Adult Free</p>
</ul>
</div>
<div data-role="collapsible" data-content-theme="b">
<h4>Attraction Opening Times</h4>
<p>Monday: 10:00 - 18:00</p>
<p>Tuesday: 10:00 - 18:00</p>
<p>Wednesday: 10:00 - 18:00</p>
<p>Thursday: 10:00 - 18:00</p>
<p>Frday: 10:00 - 18:00</p>
<p>Saturday: 10:00 - 18:00</p>
<p>Sunday: 10:00 - 18:00</p>
</div>
</div>
<div data-role="footer" data-id="footerConstant" data-position="fixed"><div data-role="navbar"><ul>
<li><a href="#" data-rel="back">Back</a></li>
<li><a href="#home">Home</a></li>
</ul></div></div>
</div>
<div data-role="page" data-position="fixed" id="oxfordcircus">
<div data-role="header" data-position="fixed"><h1>London Attraction App</h1></div>
<div data-role="content">
<img style="width:200px;height: 200px;" src="img/OxfordCircus.png"><h3>Description</h3>
<p>Oxford Circus is known worldwide for its size and quality of stores it offers, From small boutiques to large megastores! Oxford Circus is a great day out for couple's but can be very busy on Saturdays.</p>
<h3>Category</h3>
<p>Shopping</p>
<div data-role="collapsible" data-content-theme="b">
<h4>Attraction Address</h4>
<p>222 Oxford Street</p>
<p>London</p>
<p>W1C1DD</p>
</div>
<div data-role="collapsible" data-content-theme="b">
<h4>Tube Station</h4>
<p>Oxford Circus</p>
</div>
<div data-role="collapsible" data-content-theme="b">
<h3>Cost</h3>
<ul>
<p>Child Free</p>
<p>Adult Free</p>
</ul>
</div>
<div data-role="collapsible" data-content-theme="b">
<h4>Attraction Opening Times</h4>
<p>Monday: 10:00 - 20:00</p>
<p>Tuesday: 10:00 - 20:00</p>
<p>Wednesday: 10:00 - 20:00</p>
<p>Thursday: 10:00 - 20:00</p>
<p>Frday: 10:00 - 20:00</p>
<p>Saturday: 10:00 - 20:00</p>
<p>Sunday: 10:00 - 20:00</p>
</div>
</div>
<div data-role="footer" data-id="footerConstant" data-position="fixed"><div data-role="navbar"><ul>
<li><a href="#" data-rel="back">Back</a></li>
<li><a href="#home">Home</a></li>
</ul></div></div>
</div>

<script type="text/javascript">
	/*
		I tried to keep my Javascript as tidy as possible by reading values in from XML into 
		my Arrays Contents and address so that I can make a clear separation between Javascript and XSLT.
		This aims to make my code easier to maintain.
	*/
	/*
		Edited code from Google Maps Documentation to produce the map shown in my application
		https://developers.google.com/maps/documentation/javascript/
	*/
	var map;
	var geocoder;
	var directionsDisplay;
	var directionsService = new google.maps.DirectionsService();
	var contents = ['London Eye','Big Ben','Tower Bridge','Imperial War Museum','Oxford Circus'];
	var address = ['EDF London EyeSE17PB','Bridge StreetSW1A0AA','Tower BridgeSE12AA','Lambeth RdSE16HZ','222 Oxford StreetW1C1DD'];
	/*
		Initialise my map to London approximately.
		Edited code from Google Map Documents
		https://developers.google.com/maps/documentation/javascript/
	*/
	  function initialize() {
		directionsDisplay = new google.maps.DirectionsRenderer();
		geocoder = new google.maps.Geocoder();
		var latlng = new google.maps.LatLng(51.5072, 0.1275);
		var mapOptions = {
		  zoom: 13,
		  center: latlng,
		  mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
		directionsDisplay.setMap(map);
	  }
	var myinfowindow = [];
	/*
		codeAddress works by scanning address[] and content[] and turning them
		into markers on a map with information in them.
	*/
	  function codeAddress() {
		var count=0;
		for(var i = 0; i < address.length; i++){
		geocoder.geocode( { 'address': address[i]}, function(results, status) {
		  if (status == google.maps.GeocoderStatus.OK) {
			map.setCenter(results[0].geometry.location);
		myinfowindow[i] = new google.maps.InfoWindow({
		content: contents[count++]
	});
		   var mark = new google.maps.Marker({
				map: map,
				position: results[0].geometry.location,
				infowindow: myinfowindow[i]
			});
		   google.maps.event.addListener(mark, 'click', function() {
			this.infowindow.open(map, mark);
	});
		  } else {
			alert("Geocode was not successful for the following reason: " + status);
		  }
		});
		}
	  }
	/*
		calcRoute is a funtion which takes the users current location 
		and displays how they should navigate to the there chosen destination.
	*/
	function calcRoute() {
	  var start = currentLocation;
	  var end = goTo.value;
	  var request = {
		origin:start,
		destination:end,
		travelMode: google.maps.TravelMode.DRIVING
	  };
	  directionsService.route(request, function(result, status) {
		if (status == google.maps.DirectionsStatus.OK) {
		  directionsDisplay.setDirections(result);
		}
	  });
	}
	/*
		get Location takes the users location and places them on the map
	*/
	function getLocation(){
	  if(navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function(position) {
		  pos = new google.maps.LatLng(position.coords.latitude,
										   position.coords.longitude);
		  codeLatLng();
		  map.setCenter(pos);
		}, function() {
		  handleNoGeolocation(true);
		});
	  } else {
		// Browser doesn't support Geolocation
		handleNoGeolocation(false);
	  }
	}
	/*
		turns a latlng into an marker and places it on the map
	*/
	 function codeLatLng() {
		var input = pos;
		var lat = pos.lat();
		var lng = pos.lng();
		var latlng = new google.maps.LatLng(lat, lng);
		geocoder.geocode({'latLng': latlng}, function(results, status) {

		  if (status == google.maps.GeocoderStatus.OK) {
			if (results[1]) {
			  currentLocation = results[1].formatted_address;
			  map.setZoom(11);
			  marker = new google.maps.Marker({
				  position: latlng,
				  map: map
			  });
			}
		  } else {
			alert("Geocoder failed due to: " + status);
		  }
		});
	  }

	var getLocationBtn = document.getElementById('LocationBtn');
	var goToList = document.getElementById('goTo');
	/*
		Creates a drop down menu so that users can choose a location to navigate to
	*/
	for(var i = 0; i < address.length; i++){
	  var optionElem=document.createElement("option");
	  var content =document.createTextNode(address[i]);
	   optionElem.appendChild(content);
	   optionElem.value=address[i];
	   goToList.appendChild(optionElem);
	}
	/*
		The event Listeners I set up to run my functions.
	*/
	google.maps.event.addDomListener(window, 'load', initialize);
	google.maps.event.addDomListener(window, 'load', codeAddress);
	google.maps.event.addDomListener(getLocationBtn, 'click', getLocation);
	google.maps.event.addDomListener(goToList, 'change', calcRoute);
</script>
